langchain_community==0.3.12
unstructured==0.16.11
langchain_openai==0.2.12
openai==1.57.4
faiss-cpu==1.9.0.post1
langchain_text_splitters==0.3.3
python-docx==1.1.2
nltk==3.9.1
python-pptx==1.0.2
pandoc==2.4
pypandoc==1.14
PyMuPDF==1.25.1
pdfminer.six==20231228
pillow_heif==0.21.0
pi_heif==0.21.0
unstructured.pytesseract==0.3.13
IPython==7.34.0
